#text_box {
    width: auto;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: black;
    z-index: 0;
}
