#text_box {
    width: auto;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: black;
    z-index: 0;
}

.kyoshin_si--1,.kyoshin_si-none{display:none}
.kyoshin_si-20{fill:#b600d7;stroke:#b600d7}
.kyoshin_si-19{fill:#c900ba;stroke:#c900ba}
.kyoshin_si-18{fill:#dc009c;stroke:#dc009c}
.kyoshin_si-17{fill:#e30071;stroke:#e30071}
.kyoshin_si-16{fill:#ed0047;stroke:#ed0047}
.kyoshin_si-15{fill:#f11520;stroke:#f11520}
.kyoshin_si-14{fill:#f53605;stroke:#f53605}
.kyoshin_si-13{fill:#fc4c02;stroke:#fc4c02}
.kyoshin_si-12{fill:#ff6200;stroke:#ff6200}
.kyoshin_si-11{fill:#ff7e00;stroke:#ff7e00}
.kyoshin_si-10{fill:#f90;stroke:#f90}
.kyoshin_si-9{fill:#ffaf00;stroke:#ffaf00}
.kyoshin_si-8{fill:#fbc300;stroke:#fbc300}
.kyoshin_si-7{fill:#f4e200;stroke:#f4e200}
.kyoshin_si-6{fill:#0fb02b;stroke:#0fb02b}
.kyoshin_si-5{fill:#38a477;stroke:#38a477}
.kyoshin_si-4{fill:#5ea7ac;stroke:#5ea7ac}
.kyoshin_si-3{fill:#71a2cb;stroke:#71a2cb}
.kyoshin_si-2{fill:#89afc8;stroke:#89afc8}
.kyoshin_si-1{fill:#90b3ca;stroke:#90b3ca}
.kyoshin_si-0{fill:#97b7cc;stroke:#97b7cc}
